#img1{
	
	position: absolute;
    left: 0;
    right: 0;
    margin: auto;
	width:100%;
	height:25%;
}
#img2{
	
	position:absolute;
	left:300px;
	top:-10px;
	z-index:1;
	width:55%;
}
h2{
	
	text-align:center;
}
table{
	
	 margin-left: auto; margin-right: auto; 
	
}
  th{
	  
	color:red;
	height:50px;
	width:150px;
 }
 a:link {
    text-decoration: none;
	color:red;
}
.images{
	
	display:inline;
	width:20%;
	float:left;
}


.CnM{
	
	display:inline;
	width:12%;
	float:left;
}
.cm{
	
	color:black;
	font-weight:bold;
	text-align:left;
}
.trucks{
	display:inline;
	width:20%;
	float:left;
}
.tru{
	color:black;
	font-weight:bold;
	text-align:left;

}
.table{
	
	width:100%;
}
table.cars{
	text-align:left;
	
}
.CnS{
	display:inline;
	width:16%;
	float:left;
}
.cst{width:18%;}

.cs{
	
		color:black;
	font-weight:bold;
	text-align:left;
}
.HnF{
	display:inline;
	width:11%;
	float:left;
}
.hf{
	
	color:black;
	font-weight:bold;
	text-align:left;
}
.upcomingv{
	display:inline-block;
	width:35%;
	float:left;
	
}
.uv{
	color:black;
	font-weight:bold;
	clear:left;
	
}